<!--site article template-->
{% extends 'mainapp/base.html' %}

{% block content %}

<div class="container bootstrap snippets bootdey">
   <div class="row justify-content-md-center">
      <div class="col-md-8">
         <div class="col-sm-12">
            <div class="panel panel-white post panel-shadow">
               <div class="post-heading">

                  <!--user avatar-->
                  <div class="pull-left image">
                     <img src="{{post.author.userpic.url}}" class="img-circle avatar" alt="user profile image">
                  </div>
                  <!--info about creator-->
                  <div class="pull-left meta">
                     <div class="title h5">
                        <a href="#"><b>{{post.author}}</b></a>
                     </div>
                     <h6 class="text-muted time">{{post.time_create}}</h6>
                     
                  </div>
                      
               </div>

               <!--title and subtitle-->
               <div class="post-description"> 
                  <div class="title h3">
                     {{post.title}}
                  </div>
                  <div class="title h5">
                     <p>{{post.subtitle}}</p>
                  </div>
               </div>

               {% if post.content %}
               <!--article media-->
               <div class="post-image">
                  <img src="{{post.content.url}}" class="image" alt="image post">
               </div>
               {% endif %}
               
               <div class="post-description">
                  <div class="title h5">
                     <p align="justify">{{post.text}}</p>
                  </div>
                  <!-- likes and reposts --> 
                  <div class="stats">
                     <a href="#" class="btn btn-default stat-item">
                         <i class="fa fa-thumbs-up icon"></i>228
                     </a>
                     <a href="#" class="btn btn-default stat-item">
                         <i class="fa fa-share icon"></i>128
                     </a>
                 </div>
               </div>

               <div class="post-footer">

                  <!--comments fields-->
                  {% if request.user.is_authenticated%}
                  <form class="input-group" method="POST">
                     {% csrf_token %}
                     {{ form.as_p }}
                     <span class="input-group-addon">
                     <button type="submit">
                        <a href="#"><i class="fa fa-edit"></i></a>  
                     </button>
                     </span>
                  </form>
                  {% endif %}

                  <!--comments-->
                  <ul class="comments-list">

                     {% for c in comments %}

                     <li class="comment">
                        <a class="pull-left" href="{% url 'user-page' c.author.userslug %}">
                           <img class="avatar" src="{{c.author.userpic.url}}" alt="userpic">
                        </a>
                        <div class="comment-body">
                           <div class="comment-heading">
                                 <a href="{% url 'user-page' c.author.userslug %}"><h4 class="user">{{c.author}}</h4></a>
                                 <a><h5 class="time">{{c.time_create}}</h5></a>
                           </div>
                           <p>{{c.text}}</p>
                        </div>
                     </li>

                     {% endfor %}

                  </ul>

               </div>
               
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}