<!-- base template (dry) -->

{% load static %} <!-- загрузка тега для подключения внешних файлов -->

<!DOCTYPE html>
<html>

<!-- хранение служебной информации о странице -->
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <!-- отображение сайта на других устройствах -->
  <meta name='viewport' content='width=deivice-width', initial-scale=1.0>
  <!-- подключение файла оформления -->
  <link type='text/css' href="{% static 'mainapp/css/style.css' %}" rel='stylesheet' />
  <!-- загрузка иконки -->
  <link rel='shortcut icon' href="{% static 'mainapp/images/test-icon.ico'%}" type="image/x-icon"/>
  <!-- Bootstrap reboot (для сброса стилей) -->
  <link rel="stylesheet" href="{% static 'mainapp/libs/bootstrap-reboot.min.css'%}">
	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="{% static 'mainapp/libs/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <!--article Bootstrap template-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  
</head>

<body>

{% block mainmenu %}
<div class='wrapper'>

  <div class='content'>

    <div class='navbar'>

      <!-- выше был nav 0_0 -->
      <div class='container'>
        <a href="{% url 'home' %}" class='navbar-brand'>SITE</a>
  
        <div class='navbar-wrap'>
          <ul class='navbar-menu'>
            <li><a href='{% url 'economy' %}'>Экономика</a></li>
            <li><a href='{% url 'dev' %}'>Разработка | IT</a></li>
            <li><a href='{% url 'life' %}'>Жизнь</a></li> 
          </ul>
        </div>

      </div>
    </div>

  {% block content %} 
  {% endblock %}

  </div>

  <div class='footer'></div>

<div>

{% endblock mainmenu %}

</body>

</html>