<!-- base template (dry) -->

{% load static %} <!-- загрузка тега для подключения внешних файлов -->

<!DOCTYPE html>
<html>

<!-- хранение служебной информации о странице -->
<head>

  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <!-- отображение сайта на других устройствах -->
  <meta name="viewport" content="height=device-height,width=600,user-scalable=yes">
  <!-- подключение файла оформления -->
  <link type='text/css' href="{% static 'mainapp/css/style.css' %}" rel='stylesheet'>
  <!-- загрузка иконок -->
  <link rel='shortcut icon' href="{% static 'mainapp/images/test-icon.ico'%}" type="image/x-icon">
  <!-- Bootstrap reboot (для сброса стилей) -->
  <link rel="stylesheet" href="{% static 'mainapp/libs/bootstrap-reboot.min.css'%}">
	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="{% static 'mainapp/libs/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <!--article Bootstrap template-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  
</head>

<body>
  

{% block mainmenu %}
<div class='wrapper'>

  <div class='content'>

    <div class='navbar lock-padding'>

      <div class='container'>
        <a href="{% url 'home' %}" class='navbar-brand'>JESPER</a>
  
        <div class='navbar-wrap'>
          <ul class='navbar-menu'>
            <li><a href="{% url 'economy' %}">Экономика</a></li>
            <li><a href="{% url 'dev' %}">Разработка | IT</a></li>
            <li><a href="{% url 'life' %}">Жизнь</a></li>
          </ul>
        </div>

        <!--icons-->
        <div class='navbar-brand'>
          <ul>
            {% if request.user.is_authenticated %}

            <div class="dropdown">
              <button class="dropbtn"><img class="icon2" src="{% static 'mainapp/images/user.ico' %}"></button>
              <div class="dropdown-content">
                <a href="{% url 'user-page' user.username %}"><img class="icon2" src="{% static 'mainapp/images/user.png' %}">Профиль</a>
                <a href="{% url 'user-page-set' user.username %}"><img class="icon2" src="{% static 'mainapp/images/setting.png' %}">Настройки</a>
                <a href="{% url 'logout' %}"><img class="icon2" src="{% static 'mainapp/images/logout.png' %}">Выйти</a>
              </div>
            </div>
      
            {% else %}

              <a href="#popup" class='popup-link'><img class="icon" src="{% static 'mainapp/images/auth.ico' %}"></a>
              
            {% endif %}
            <a href="https://t.me/jespersite" target="_blank"><img class='icon' src="{% static 'mainapp/images/tg-icon2.png' %}"></a>
          </ul>
        </div>
        
      </div>
    </div>


  {% block content %}
  
  {% endblock %}

  </div>

  <div class='footer'></div>

</div>

<!--popup navbar-->
<div id="popup" class="popup">
  <div class="popup__body">
    <div class="popup__content">
      <a href="#header" class="popup__close close-popup">+</a>
      <div class="popup__title">Авторизация на SITE</div>

        <div class='box-btns'>
          <a class='btn_telegram'>
            <script async src="https://telegram.org/js/telegram-widget.js?21" data-userpic="false" data-telegram-login="jespersitebot" data-size="medium" data-auth-url="http://mysite.com/social-auth/complete/telegram" data-request-access="write"></script>
          </a>
          <a href="{% url "social:begin" "google-oauth2" %}" class="btn_google">
            <img src="{% static 'mainapp/images/google.png' %}" width='21px' height='21px' >
            ⠀Войти через Google
          </a>
          <a href="{% url "social:begin" "vk-oauth2" %}" class="btn_vk" data-toggle="tooltip">
            <img src="{% static 'mainapp/images/vk.png' %}" width='25px' height='25px' >
            ⠀Войти через VK
          </a>
        </div>
        
    </div>
  </div>
</div>
<script src="{% static 'mainapp/js/main.js' %}"></script>
{% endblock mainmenu %} 


</body>

</html>