<!-- homepage template -->
{% extends 'mainapp/base.html' %}

<html>

<head>
   <meta charset='UTF-8'>
</head>

<body>

{% block content %}

<div class='container bootstrap snippets bootdey'>
  <div class='row justify-content-center'>
    <div class='col-md-6'>
      {% for p in posts %}
      <div class='panel blog-container'>
        <div class='panel-body'>
            <small class="text-muted">
              <a href='#'>{{p.section}} |</a>
              <a href='#'>{{p.author}} |</a>
              <a>{{p.time_create}}</a>
            </small>
            <strong><p><a href='#'>{{p.title}}</a></p></strong>
            {% if p.subtitle %}
            <p><a href='#'>{{p.subtitle}}</a></p></strong>
            {% endif %}
            {% if p.content %}
            <div class='image-wrapper'>
              <a class='image-wrapper image-zoom cboxElement' href="#">
                <img src='{{p.content.url}}' alt="Photo of Blog">
                <div class="image-overlay"></div> 
              </a>
            </div>
            {% endif %}
            <a href="#"><i class="fa fa-angle-double-right"></i> Continue reading</a>
            <span class="post-like text-muted tooltip-test" data-toggle="tooltip" data-original-title="I like this post!">
              <i class="fa fa-heart"></i><span class="like-count">1</span>
            </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

</body>
</html>

