<!--вывод статей на данную страницу-->
<div class='container bootstrap snippets bootdey'>
  <div class='row justify-content-center'>
    <div class='col-md-6'>
      {% for p in posts %}
      <div class='panel blog-container'>
        <div class='panel-body'>
          <small class="text-muted">
            <a href='{% url p.section %}'> {{ p.get_section_display }} |</a>
            <a href='#'>{{p.author}} |</a>
            <a>{{p.time_create}}</a>
          </small>
          <strong><p><a href='{{ p.get_absolute_url }}'>{{p.title}}</a></p></strong>
          {% if p.subtitle %}
            <p><a href='{{ p.get_absolute_url }}'>{{p.subtitle}}</a></p></strong>
          {% endif %}
          {% if p.content %}

            {% if p.get_file_type == 'photo' %}
            <div class='image-wrapper'>
              <a class='image-wrapper image-zoom cboxElement' href="{{ p.get_absolute_url }}">
                <img src='{{p.content.url}}' alt="Photo of Blog" width='523' height=''>
                <div class="image-overlay"></div> 
              </a>
            </div>
            {% endif %}

            <!-- experimental video output-->
            {% if p.get_file_type == 'video' %}
            <div class='image-wrapper'>
                <video width='523' height='' controls>
                  <source src="{{ p.content.url }}" type="video/mp4"></source>
                </video>
            </div>
            {% endif %}

          {% endif %}
            <a href="{{ p.get_absolute_url }}"><i class="fa fa-angle-double-right"></i> Continue reading</a>
            <span class="post-like text-muted tooltip-test" data-toggle="tooltip" data-original-title="I like this post!">
              <i class="fa fa-heart"></i><span class="like-count">{{p.lks.count}}</span>
            </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>