<!--user page template-->
{% extends 'mainapp/base.html' %}

{% block content %}

<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="panel">
            <div class="cover-photo">
                <div class="fb-timeline-img">
                    <img src="https://bootdey.com/img/Content/bg1.jpg" alt="personal-page-background">
                </div>
                <div class="fb-name">
                    <h2><a href="#">Deyson Bejarano</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}