<div class="container bootstrap snippets bootdey">
   <div class="row">
       <div class="panel">
           <div class="cover-photo">
             <div class="fb-timeline-img">
                 <img src="https://bootdey.com/img/Content/bg1.jpg" alt="">
             </div>
             <div class="fb-name">
                 <h2><a href="#">Deyson Bejarano</a></h2>
             </div>
           </div>
           <div class="panel-body">
             <div class="profile-thumb">
                 <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
             </div>
             <a href="#" class="fb-user-mail">dbjarano@bootdey.com</a>
           </div>
       </div>
       
       <div class="panel profile-info">
         <form>
             <textarea class="form-control input-lg p-text-area" rows="2" placeholder="Whats in your mind today?"></textarea>
         </form>
         <footer class="panel-footer">
             <button type="button" class="btn btn-info pull-right">Post</button>
             <ul class="nav nav-pills">
                 <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                 <li><a href="#"><i class="fa fa-camera"></i></a></li>
                 <li><a href="#"><i class=" fa fa-film"></i></a></li>
                 <li><a href="#"><i class="fa fa-microphone"></i></a></li>
             </ul>
         </footer>
       </div>
       
      
 </div>
</div>
