/* оформление css | хранение каскадных таблицы стилей */

#mainWrap {
   min-height: 100%;
   position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; 
}

body {
   font-family: "Roboto", Helvetica, Arial, Sans-Serif;
   font-size: 14px;
   line-height: 1.5em;
   background: #f6f6f6;
   min-width: 1000px;
   color: #000;
 }

 /* шрифты */

a {
   transition: all 0.2s;
   -o-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -webkit-transition: all 0.2s;
   -ms-transition: all 0.2s;
   color: #0078f0;
   text-decoration: none; 
 }
 
strong,
b {
   font-weight: bold;
 }
 
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   margin: 0 0 12px 0;
   padding: 0;
   font-weight: 500;
   line-height: 1.3;
 }
 
h1, .h1 {
   font-size: 30px; }
 
h2, .h2 {
   font-size: 22px; }
 
h3, .h3 {
   font-size: 18px; }
 
h4, .h4 {
   font-size: 16px; }
 
 h5, .h5 {
   font-size: 15px; }
 
h6, .h6 {
   font-size: 14px; }
 
h4.blockTitle {
   font-size: 26px;
   font-weight: normal;
   color: #999;
 }
 
h3.blockTitle {
   font-size: 26px;
   font-weight: normal;
   color: #999;
 }
 
p {
   margin: 0 0 10px 0;
   line-height: 1.4; }

 /* end */

.header {
	background: #a9f5ff;
	height: 60px;
	box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
   -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,.1); /*?*/
   text-align: justify;
}

.logo {
   display: inline-block;
   vertical-align: middle; 
   *vertical-align: auto; /*?*/
   *zoom: 1;              /*?*/
   *display: inline;      /*?*/
   margin: 8px 20px 0 10px; 
}

.logo a {
   display: block;
   line-height: 0; 
}

.headerNav {
   display: inline-block;
   vertical-align: middle;
   *vertical-align: auto;
   *zoom: 1;
   *display: inline;
}

.headerNav ul li {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	font-size: 17px;
	margin: 0; 
	padding: 0px 20px;
}

 /*_________________*/

 @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.vk a:hover {background: #5d84ae; color: #fff;}
